@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  html,
  body {
    /* A4 size */
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden !important;
  }

  h1 {
    font-size: 16pt !important;
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: 12pt !important;
    margin-top: 0 !important;
  }

  .identity-document {
    margin-top: 0.5rem !important;
    font-size: 12pt !important;
    margin-bottom: 0;
  }

  .avatar {
    display: block;
  }

  mat-card-header {
    padding-top: 0 !important;
    margin-bottom: 0.5rem !important;
    gap: 0.5rem !important;
  }

  mat-toolbar {
    display: none;
  }

  mat-card {
    /* Same size as a credit card. Don't change this */
    width: 5.4cm;
    height: 8.6cm;
    padding: 0;
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    border: 2px solid #dfdfdf !important;
  }

  main.global-container {
    background-color: #fff !important;
  }

  .barcode-screen,
  .barcode-screen * {
    display: none !important;
    visibility: hidden !important;
  }

  .barcode-print {
    display: block !important;
    visibility: visible !important;
    width: 3.5cm !important;
    height: 3.5cm !important;
    padding: 0 !important;
  }

  .barcode-print * {
    visibility: visible !important;
  }
}

.aztec-code {
  padding: 25px;
  background-color: #fff;
  display: block;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 400px) {
  .aztec-code {
    height: 200px;
    width: 200px;
  }
  mat-card-header {
    padding-top: 0;
  }

  mat-card {
    padding: 0;
  }
}

.barcode-print {
  display: none;
}

mat-card {
  padding: 1rem;
}

mat-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

mat-card-header h1,
mat-card-header h2 {
  text-align: center;
  margin: 0;
}

.identity-document {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
