<section class="workspace-tab">
  <mat-tab-group
    [selectedIndex]="selectedTabIndex()"
    (selectedIndexChange)="onSelectedTabIndexChange($event)"
    animationDuration="160ms"
    mat-stretch-tabs="false">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="workspace-tab-label"><mat-icon>event</mat-icon>Eventos</span>
      </ng-template>
      <app-workspace-event-subscriptions-subtab />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="workspace-tab-label">
          <mat-icon>festival</mat-icon>
          Grandes eventos
          @if (selectedMajorEventPendingReceiptsCount()) {
            <span class="workspace-tab-count" aria-label="Comprovantes pendentes">
              {{ selectedMajorEventPendingReceiptsCount() }}
            </span>
          }
        </span>
      </ng-template>
      <app-workspace-major-event-subscriptions-subtab
        [pendingReceiptsCount]="selectedMajorEventPendingReceiptsCount()" />
    </mat-tab>
  </mat-tab-group>
</section>
