<div class="value-proposition">
  <div class="container">
    <div class="value-content">
      <div class="value-text">
        <h2 class="section-title">É desenvolvedor?</h2>
        <p class="section-subtitle">
          O CACiC Eventos é uma iniciativa de código aberto.
          <br />
          Não é necessário pedir permissão para contribuir!
        </p>

        <a href="https://docs.fctapp.cacic.dev.br" matButton>
          <mat-icon>open_in_new</mat-icon>
          <span>Documentação</span>
        </a>

        <a href="https://github.com/cacic-fct/event-manager" matButton>
          <mat-icon>open_in_new</mat-icon>
          <span>Repositório</span>
        </a>

        <h3>Como se envolver?</h3>
        <p>
          <strong>Explore o código:</strong>
          Visite nosso
          <a href="https://github.com/cacic-fct/event-manager"> repositório no GitHub</a>
          para explorar a estrutura do projeto, revisar a documentação e entender os recursos e as funcionalidades
          atuais.
        </p>
        <p>
          <strong>Entre na discussão:</strong>
          Participe de discussões em nosso repositório no GitHub. Compartilhe suas ideias, relate bugs e sugira
          melhorias.
        </p>
        <p>
          <strong>Submeta contribuições:</strong>
          Faça um fork do repositório, programe suas alterações e envie uma pull request. Nossa equipe revisará e dará
          merge na sua contribuição.
        </p>
      </div>
      <div class="value-text">
        <h3>Por que colaborar?</h3>

        <div class="benefits-list">
          <div class="benefit-item">
            <mat-icon class="benefit-icon">people</mat-icon>
            <div class="benefit-text">
              <h4>Inovação colaborativa</h4>
              <p>
                Trabalhe com colegas estudantes para apresentar novos recursos, aprimorar funcionalidades e aperfeiçoar
                ferramentas existentes.
              </p>
            </div>
          </div>

          <div class="benefit-item">
            <mat-icon class="benefit-icon">psychology</mat-icon>
            <div class="benefit-text">
              <h4>Aperfeiçoamento de habilidades</h4>
              <p>
                Ganhe experiência prática e desenvolva suas habilidades contribuindo para um projeto que é usado na vida
                real, em nossa faculdade.
              </p>
            </div>
          </div>

          <div class="benefit-item">
            <mat-icon class="benefit-icon">school</mat-icon>
            <div class="benefit-text">
              <h4>Impacto na comunidade</h4>
              <p>
                Cause impacto direto na vida universitária, ajudando organizadores e estudantes a administrar eventos
                com mais eficiência.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
