<div class="global-container">
  <section>
    <div>
      @if (displayUser(); as user) {
        <mat-list>
          <mat-list-item>
            <img
              [src]="user.picture || 'https://placehold.co/40x40'"
              matListItemIcon
              alt="Avatar"
              width="32"
              height="32"
              style="border-radius: 50%"
              referrerpolicy="no-referrer"
              class="avatar-placeholder" />
            <span matListItemTitle>{{ user.name }}</span>
            @if (authService.isAuthenticated()) {
              <button matIconButton aria-label="Sair da conta" (click)="authService.logout()" matListItemMeta>
                <mat-icon>logout</mat-icon>
              </button>
            }
          </mat-list-item>
        </mat-list>
      } @else {
        <mat-nav-list>
          <mat-list-item
            role="button"
            mat-list-item
            (click)="authService.login()"
            (keypress)="authService.login()"
            tabindex="0">
            <mat-icon matListItemIcon class="avatar-placeholder">account_circler</mat-icon>
            <span matListItemTitle>Entrar</span>
            <button matIconButton aria-label="Entrar" (click)="authService.login()" matListItemMeta>
              <mat-icon>login</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      }
    </div>
    <mat-divider></mat-divider>
  </section>

  <section>
    @if (isProfileAvailable()) {
      <mat-nav-list>
        <h3 matSubheader>Perfil</h3>

        <a mat-list-item routerLink="/profile/wallet">
          <mat-icon matListItemIcon>qr_code</mat-icon>
          <span matListItemTitle>Carteira</span>
        </a>

        <a mat-list-item routerLink="/profile/attendances">
          <mat-icon matListItemIcon>list</mat-icon>
          <span matListItemTitle>Participações</span>
        </a>
      </mat-nav-list>
    }

    @if (canCollectAttendances()) {
      <mat-divider />
      <mat-nav-list>
        <h3 matSubheader>Colaboração</h3>
        <a mat-list-item routerLink="/attendance/collect">
          <mat-icon matListItemIcon>qr_code_scanner</mat-icon>
          <span matListItemTitle>Coletar presenças</span>
        </a>
      </mat-nav-list>
      <mat-divider />
    }

    <mat-nav-list>
      <a mat-list-item routerLink="/about" (click)="$event.preventDefault()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>Sobre</span>
      </a>
    </mat-nav-list>

    @if (isDevMode) {
      <mat-divider></mat-divider>
      <mat-nav-list>
        <h3 matSubheader>Desenvolvimento</h3>

        <a mat-list-item routerLink="/dev-tools">
          <mat-icon matListItemIcon>build</mat-icon>
          <span matListItemTitle>Ferramentas de Desenvolvimento</span>
        </a>
      </mat-nav-list>
    }
  </section>
</div>
