<mat-toolbar>
  <lib-cacic-logo [fillColor]="fillColor()" />
</mat-toolbar>

<main class="global-container">
  <section>
    <div>
      @if (displayUser(); as user) {
        <mat-list>
          <mat-list-item>
            <img
              [src]="user.picture || 'https://placehold.co/40x40'"
              matListItemIcon
              alt="Avatar"
              width="32"
              height="32"
              style="border-radius: 50%"
              referrerpolicy="no-referrer"
              class="avatar-placeholder" />
            <span matListItemTitle>{{ user.name }}</span>
          </mat-list-item>
        </mat-list>
      } @else {
        <mat-nav-list>
          <mat-list-item
            role="button"
            mat-list-item
            (click)="authService.login()"
            (keypress)="authService.login()"
            tabindex="0">
            <mat-icon matListItemIcon class="avatar-placeholder">account_circle</mat-icon>
            <span matListItemTitle>Entrar</span>
            <button matIconButton aria-label="Entrar" (click)="authService.login()" matListItemMeta>
              <mat-icon>login</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      }
    </div>
    <mat-divider></mat-divider>
  </section>

  <section>
    @if (isProfileAvailable()) {
      <mat-nav-list>
        <h3 matSubheader>Perfil</h3>

        <a mat-list-item routerLink="/profile/wallet">
          <mat-icon matListItemIcon>badge</mat-icon>
          <!-- https://github.com/cacic-fct/event-manager/discussions/247 -->
          <span matListItemTitle>Crachá e QR Code</span>
        </a>

        <a mat-list-item routerLink="/profile/attendances">
          <mat-icon matListItemIcon>list</mat-icon>
          <span matListItemTitle>Participações</span>
        </a>
      </mat-nav-list>
    }

    @if (hasCollaborationLinks()) {
      <mat-nav-list>
        <h3 matSubheader>Colaboração</h3>
        @if (canCollectAttendances()) {
          <a mat-list-item routerLink="/attendance/collect">
            <mat-icon matListItemIcon>qr_code_scanner</mat-icon>
            <span matListItemTitle>Coletar presenças</span>
          </a>
        }
        @if (canAccessWorkspace()) {
          <a mat-list-item href="/admin">
            <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
            <span matListItemTitle>Painel administrativo</span>
          </a>
        }
      </mat-nav-list>
    }

    <mat-nav-list>
      <h3 matSubheader>Utilitários</h3>
      <a mat-list-item routerLink="/validate" (click)="$event.preventDefault()">
        <mat-icon matListItemIcon>license</mat-icon>
        <span matListItemTitle>Validar certificado</span>
      </a>

      <a mat-list-item routerLink="/preferences">
        <mat-icon matListItemIcon>tune</mat-icon>
        <span matListItemTitle>Preferências</span>
      </a>

      <a mat-list-item routerLink="/help" (click)="$event.preventDefault()">
        <mat-icon matListItemIcon>help</mat-icon>
        <span matListItemTitle>Ajuda</span>
      </a>
      <a mat-list-item routerLink="/about" (click)="$event.preventDefault()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>Sobre</span>
      </a>
    </mat-nav-list>

    @if (isDevMode) {
      <mat-divider></mat-divider>
      <mat-nav-list>
        <h3 matSubheader>Desenvolvimento</h3>

        <a mat-list-item routerLink="/dev-tools">
          <mat-icon matListItemIcon>build</mat-icon>
          <span matListItemTitle>Ferramentas de Desenvolvimento</span>
        </a>
      </mat-nav-list>
    }
  </section>
</main>
